<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>searx-checker result</title>
    <link href="assets/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <script src="assets/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
  </head>
  <body>
    <div id="searxchecker">
      <nav class="navbar navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">Searx checker : <template v-if="json.instance_url==='http://localhost:8888'">git master</template><template v-else>{{json.instance}}</template> ( {{json.version }} ) </span>
	<span class="navbar-brand mb-0 h2">{{ new Date(json.timestamp * 1000).toString() }}</<span>
      </nav>

      <div class="container">
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th style="width: 16.66%">Engine</th>
	    <th>Status</th>
	    <th>Links</th>
	  </tr>
	</thead>
	<tr v-for="(engine, engine_name) in json.engines_state">
	  <td>{{engine_name}}</td>
	  <td v-if="engine.status"><span class="badge badge-success">OK</span></td>
	  <td v-else><span class="badge badge-danger">Error : {{engine.error}}</span></td>
	  <td><a :href="'https://github.com/asciimoo/searx/issues?utf8=%E2%9C%93&q=' + `${encodeURIComponent(':is issue :open ') }%22` + engine_name + '%22'">Opened issues</a>,
	      <a :href="'https://github.com/asciimoo/searx/issues?utf8=%E2%9C%93&q=' + `${encodeURIComponent(':is pr :open ') }%22` + engine_name + '%22'">Opened PR</a></td>
	</tr>
      </table>
      </div>
    </div>
    <script src="assets/vue.min.js"></script>    
    <script>
      new Vue({
        el: '#searxchecker',
        data: () => ({
          json: {},
        }),
        created: function() {
          fetch('output/localhost.json').then((response) => {
            return response.json().then((json) => {
              this.json = json
            })
          })
        }
      })
    </script>    
  </body>
</html>
